<?xml version="1.0" encoding="utf-8"?>
<!--
/*
** Copyright (C) 2022 The AtomX Project
**
** SPDX-License-Identifier: Apache-2.0
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="co.atomx.overlay.systemui.immnav.gestural"
        android:versionCode="1"
        android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:category="com.android.internal.navigation_bar_mode"
        android:priority="1"/>

    <application android:label="@string/immersive_navigation_mode_title" android:hasCode="false"/>
</manifest>
